.vantagens-bg {
  background-color: var(--cor-12);
}
.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens-lista {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
  justify-items: start;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens-lista {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .vantagens-lista {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
